<h4>Movimentacão de estoque</h4>

<div class="container">
  <button type="submit"
          class="btn btn-success"
          (click)="abrirMovimentacao()"
          style="width: 250px;">
      Movimentar estoque
  </button>

  <br>

  <table id="tabelaDasMovmentacoes" style="cursor: pointer;" class="styled-table">
    <thead>
        <tr>
          <th style="width: 65px; text-align: right;">Movimentacão</th>
          <th style="width: 250px; text-align: left;">Produto</th>
          <th style="width: 100px; text-align: right;">Quantidade</th>
          <th style="width: 100px; text-align: right;">Preço</th>
          <th style="width: 55px; text-align: left;">Tipo</th>
          <th style="width: 55px; text-align: left;">Data</th>
          <th style="width: 100px; text-align: center;">Excluir</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaDeMovimentacoes">
          <td (click)="editarMovimentacao(item)" style="text-align: right;">{{item.id}}</td>
          <td (click)="editarMovimentacao(item)" style="text-align: left;">{{item.idProduto}}</td>
          <td (click)="editarMovimentacao(item)" style="text-align: right;">{{item.quantidade}}</td>
          <td (click)="editarMovimentacao(item)" style="text-align: right;">{{item.preco}}</td>
          <td (click)="editarMovimentacao(item)" style="text-align: left;">{{tiposDeMovimentacaos[item.tipo].desc}}</td>
          <td (click)="editarMovimentacao(item)" style="text-align: right;">{{item.data}}</td>
          <td>
            <button type="submit"
                    class="btn btn-danger"
                    style="cursor: pointer;"
                    (click)="excluirMovimentacao(item.id)">
              Excluir
            </button>
          </td>
      </tr>
    </tbody>
  </table>

  <app-movimentar
    *ngIf="mostrarModalMovimentacao"
    (enviarMostrarModalMovimentacao)="fecharMovimentacao()"
    (novaMovimentacao)="salvarMovimentacao($event)"
    [movimentacaoRecebida]="movimentacaoEnviada"
    [produtoRecebido]="produtoEnviado">
  </app-movimentar>

</div>
