<html>
  <div class="card-body" style="margin-top: 25px;">
    <label><b>Estoque: </b></label><br>
    <ul *ngIf="estoque">
        <li *ngFor="let est of estoque">{{est.descricao}}</li>
    </ul>
  </div>

  <app-movimentacao></app-movimentacao>
</html>

<!-- <html>
  <h1>Movimentacão de estoque</h1>

  <div class="container">
    <div class="linha">
        <div class="coluna-esquerda">
          <section class="Form"> -->
            <!-- <div class="form-group">
              <label for estoque>Estoque: {{estoque}}</label><br>
            </div> -->

            <!-- <div class="card-body">
              <label for estoque><b>Estoque: </b></label><br>
              <ul *ngIf="estoque">
                  <li *ngFor="let est of estoque">{{est.descricao}}</li>
              </ul>
            </div>
          </section> -->

          <!-- <section class="Form">
            <div class="form-group">
              <label for produto>Produto:</label><br>
              <input type="text"
                    class="form-control"
                    id="produto"
                    required
                    [(ngModel)]="produto"
                    name="txtProduto"
                    #txtProduto="ngModel"
                    style="max-width: 450px; width: 100%;">
              <div *ngIf="txtProduto.invalid" class="alert alet-danger">
                <label style="color: red;">Pruduto é obrigatório</label>
              </div>
            </div>

            <div class="form-group">
              <label for="tipoMovimentacao">Situação:</label><br>
              <select class="form-control"
                      id="tipoMovimentacao"
                      required
                      [(ngModel)]="tipoMovimentacao"
                    name="tipoMovimentacao"
                    #power="ngModel">
                <option *ngFor="let item of tiposDeMovimentacaos" [value]="item.val">{{item.desc}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for quantidade>Quantidade:</label><br>
              <input type="text"
                    class="form-control"
                    id="quantidade"
                    required
                    [(ngModel)]="quantidade"
                    name="txtQuantidade"
                    #txtQuantidade="ngModel"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    style="size: 40px;">
              <div *ngIf="txtQuantidade.invalid || txtQuantidade.value == 0" class="alert alet-danger">
                <label style="color: red;">Quantidade é obrigatória</label>
              </div>
            </div>

            <div class="form-group">
              <label for preco>Preco:</label><br>
              <input type="text"
                    class="form-control"
                    id="preco"
                    required
                    [(ngModel)]="preco"
                    name="txtPreco"
                    #txtPreco="ngModel"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    style="size: 40px;">
              <div *ngIf="txtPreco.invalid || txtPreco.value == 0" class="alert alet-danger">
                <label style="color: red;">Preco é obrigatória</label>
              </div>
            </div>

            <br>
            <button type="submit"
                    class="btn btn-success"
                    (click)="salvarMovimentacao()"
                    [disabled]="txtProduto.invalid || txtQuantidade.invalid || txtQuantidade.value == 0 || txtPreco.invalid || txtPreco.value == 0">
              Adicionar
            </button>
          </section> -->
        <!-- </div>

        <div class="coluna-direita"> -->
          <!-- <table id="tabelaDasMovmentacoes" style="cursor: pointer;" class="styled-table">
            <thead>
                <tr>
                  <th style="width: 100px;">Código</th>
                  <th style="width: 300px;">Produto</th>
                  <th style="width: 100px;">Quantidade</th>
                  <th style="width: 100px;">Tipo</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaDeMovimentacoes">
                  <td>{{item.id}}</td>
                  <td>{{item.produto}}</td>
                  <td>{{item.quantidade}}</td>
                  <td>{{tiposDeMovimentacaos[item.tipo].desc}}</td>
              </tr>
            </tbody>
          </table> -->
        <!-- </div> -->

      <!-- </div>
  </div>
</html> -->
