<form ngNativeValidate *ngIf="showAccount">
  <div class="modal">
    <section class="Form">
      <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" class="form-control" id="title" [(ngModel)]="account.username" required name="username" />
      </div>

      <div class="form-group">
        <label for="password">Password: </label>
        <input class="form-control" id="password" [(ngModel)]="account.password" required name="password" />
      </div>

      <div class="form-group">
        <label for="email">Email: </label>
        <input class="form-control" id="email" [(ngModel)]="account.email" required name="email" />
      </div>
      <div class="form-group" *ngIf="roles">
        <label for="roles">Roles: </label>
        <div *ngFor="let role of roles">
          <input type="checkbox" [checked]="role.select" (change)="checkRoles($event, role)"> {{role.role_name}}
        </div>
      </div>
      <button (click)="saveAccount()" type="submit">Enviar</button>
      &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger" (click)="cancelAccount()">
        Cancelar
      </button>
    </section>
  </div>
  <div (click)="toggle()" class="overlay"></div>
</form>