<form ngNativeValidate>
    <div class="submit-form">
        <div class="form-group">
          <label for="username">Username: </label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="account.username" required
            name="username"
          />
        </div>
  
        <div class="form-group">
          <label for="password">Password: </label>
          <input
            class="form-control"
            id="password"
            [(ngModel)]="account.password" required
            name="password"
        />
        </div>

        <div class="form-group">
            <label for="email">Email: </label>
            <input
              class="form-control"
              id="email"
              [(ngModel)]="account.email" required
              name="email"
            />
          </div>
          <div class="form-group" *ngIf="roles">
            <label for="roles">Roles: </label>
              <div *ngFor="let role of roles">
                  <input type="checkbox" (change)="checkRoles($event, role)"> {{role.role_name}}
              </div>
          </div>
        <button (click)="saveAccount()" class="submit">Submit</button>
      </div>
  </form>
