

<div class="container" style="text-align: center;">
    <h4>Produtos</h4>
        <button type="submit" class="btn btn-success" (click)="abrirModalCadastrarProduto()" style="width: 250px;">Cadastrar Produto</button>
      <div style="display: flex; justify-content: center;">
        <table id="tabelaProdutos" style="cursor: pointer;" class="styled-table">
          <thead>
              <tr>
                <th style="width: 65px; text-align: right;">Nome</th>
                <th style="width: 250px; text-align: left;">Tipo</th>
                <th style="width: 100px; text-align: right;">Data de Vencimento</th>
                <th style="width: 100px; text-align: center;">Excluir</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaDeProdutos">
                <td (click)="editarProduto(item)" style="text-align: right;">{{item.nome}}</td>
                <td (click)="editarProduto(item)" style="text-align: left;">{{item.tipo}}</td>
                <td (click)="editarProduto(item)" style="text-align: right;">{{item.vencimento}}</td>
                <td>
                  <button type="submit" class="btn btn-danger" style="cursor: pointer;" (click)="excluirProduto(item.id)">Excluir</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
        <app-produtoModal *ngIf="mostrarModalCadastrarProduto"
          (enviarMostrarModalProduto)="fecharModalCadastrarProduto()"
          (novoProduto)="salvarProduto($event)"
          [produtoRecebido]="produtoEnviado">
        </app-produtoModal>
</div>