<html>
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
          &nbsp;&nbsp;
          <a routerLink="estoque">Estoque</a>
          &nbsp;&nbsp;
          <button class="buttonStyle" (click)="logout()">Logout</button>
      </div>
    </nav>
  </header>

  <!-- main app container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</html>
