<div class="container">
    <h4 class="card-header py-3">You're logged in as "{{currentUser}}"</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngIf="users">
            <div *ngFor="let user of users">
                <input type="checkbox" (change)="checkUser($event, user)"> {{user.username}}
             <div>
        </div>
    </div>
    <div class="container">
    <button style="width: 150px;" type="submit" routerLink="users">
        Adicionar Usuário
    </button>
    <button style="width: 150px;" type="submit" (click)="deleteAccounts()">
        Remover Usuário
    </button>
    </div>
</div>