<div class="card mt-4">
    <h4 class="card-header py-3">You're logged in with JWT!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngIf="users">
            <div *ngFor="let user of users">
                <input type="checkbox" (change)="checkUser($event, user)"> {{user.username}}
             <div>
        </div>
    </div>
    <button type="submit"
    class="btn btn-success"
    routerLink="users">
Adicionar Usuário
</button>
<button type="submit"
class="btn btn-success"
(click)="deleteAccounts()">
Remover Usuário
</button>
</div>